<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Municipios BR</title>
    <link rel="stylesheet" href="/css/pico.css"/>
    <script src="/js/htmx.min.js"></script>
    <script src="/js/modal.js"></script>
</head>

<body>
<main class="container">
    {{embed}}
</main>
</body>
</html>